@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  @apply bg-dark text-white;
}

.container {
  @apply w-[90%] md:w-[85%] mx-auto;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

select {
  background-image: url(../../public/icon/selectIcon.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

::selection {
  background-color: #3671e9;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar {
  width: 4px;
}

a.canvasjs-chart-credit {
  display: none;
}

#tradingview-chart > div {
  width: 100% !important;
  height: 450px !important;
  border-radius: 16px;
}
